.gradle/
.groovy/
.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
data/
*.swp
*.swo
*.pyc
.idea
*/*.iml
*.iml
*.eml
rebel.xml
.idea/
MANIFEST.MF
out/test/*
out/production/*
out/artifacts/*
resources-etermconf/
tags
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject
bin-groovy
.DS_Store
ip
test-output
.cache
node_modules/
.idea/
.jshintrc
*.o
build/
.recommenders/
/Server*/
gradle-app.setting
**/soa-backup
**/out
*/.iml
gradle/
**/dependency-reduced-pom.xml
**/pom.xml.versionsBackup
